<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Servicios Activos
      <span class="btn btn-secondary mr-2" onclick="getActiveServices()">Actualizar</span>
      <img src="../../../img/loading2.gif" id="loadingGif" class="ml-3" width="40px" height="40px" hidden>
      <span id="statusInfo"></span></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Cliente</th>
                <th>DUI</th>
                <th>Telefono</th>
                <th>Servicio</th>
                <th>Cuota</th>
                <th>Fecha de Contrato</th>
                <th>Estado</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Cliente</th>
                <th>DUI</th>
                <th>Telefono</th>
                <th>Servicio</th>
                <th>Cuota</th>
                <th>Fecha de Contrato</th>
                <th>Estado</th>
            </tr>
          </tfoot>
          <tbody id="tableElements">
            
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Lista de servicios activos - NitroNet</div>
  </div>

  <!---Modal Scroll-->
  <div class="modal fade" id="modalScroll" tabindex="-1" role="dialog" aria-labelledby="modalScrollTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalScrollTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div id="serviceStatus">
                    <img src="../../../img/loading2.gif" id="detailLoadGif" class="ml-3" width="40px" height="40px" hidden>
                    <span id="statusDetail"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


<script>
    var serviceIsActive = '';
    var currentKey = '';

    window.onload = getActiveServices();

    function getActiveServices(){
    document.getElementById('loadingGif').hidden = false;
    $('#statusInfo').html('Obteniendo Lista de Servicios Activos...');
    var ref = firebase.database().ref('activeServices');
    ref.once('value', function(data) {
        //El rellenado o el manejo de datos, debe de hacerse aqui, ya que esto es cuando ya se optiene la informacion.
        var elements = '';
        data.forEach(function(row) {
            var dataService = (JSON.parse(JSON.stringify(row)));

          //meter todo a la tablita
            elements += '<tr>'+
            '<td>'+dataService.clientName+'</td>'+
            '<td>'+dataService.clientDUI+'</td>'+
            '<td>'+dataService.clientPhone+'</td>'+
            '<td>'+dataService.service+'</td>'+
            '<td>$'+dataService.priceToPay+'</td>'+
            '<td>'+dataService.dateContrate+'</td>'+
            '<td>'+dataService.status+
            '<button class="btn shadow ml-2 rounded" onclick="viewDetails(\''+row.key+
            '\')" data-toggle="modal" data-target="#modalScroll"><i class="fa fa-eye"></i></button>  </td>'+
            '</tr>';
        });
        
        $('#tableElements').html(elements);
        $('#statusInfo').html('');
        document.getElementById('loadingGif').hidden = true;
    });
    
  }

//////------------------------------------------
  function viewDetails(key){
    currentKey = key; //Se guarda, por si se le cambia el estado
    document.getElementById('detailLoadGif').hidden = false;
    $('#statusDetail').html('Cargando...');
    var ref = firebase.database().ref('activeServices').child(key);
    
    ref.on('value', function(data) {
        //El rellenado o el manejo de datos, debe de hacerse aqui, ya que esto es cuando ya se optiene la informacion.
        var dataService = JSON.parse(JSON.stringify(data));
        var elements = '';
            elements += 
            '<h4><b>Detalles del Cliente</b></h4>'+
            '<p><b>Nombre del Cliente:</b> '+dataService.clientName+'</p>'+
            '<p><b>N° de DUI del Cliente:</b> '+dataService.clientDUI+'</p>'+
            '<p><b>Telefono:</b> '+dataService.clientPhone+'</p>'+
            '<p><b>Fecha de Nacimiento:</b> '+dataService.clientBirthday+'</p>'+
            '<p><b>Dirección del Cliente:</b> '+dataService.clientAddress+'</p>'+
            '<hr>'+
            '<h4><b>Detalles del Servicio</b></h4>'+
            '<p><b>Fecha de Contratación:</b> '+dataService.dateContrate+'</p>'+
            '<p><b>Servicio:</b> '+dataService.service+'</p>'+
            '<p><b>Conexión:</b> '+dataService.connectType+'</p>'+
            '<p><b>Dirección del Servicio:</b> '+dataService.serviceAddress+'</p>'+
            '<p><b>Cuota:</b> '+dataService.priceToPay+'</p>';
            serviceIsActive = dataService.status;

            $('#serviceStatus').html('<p id="stat"><b>Estado: </b>'+serviceIsActive+'</p>'+
            '<button onclick="statuSwitch()" class="btn btn-caution">Cambiar</button>'+
            '<img id="imgSwitchStat" width="15px">');
        
        $('#modal-body').html(elements);
        document.getElementById('detailLoadGif').hidden = true;
        $('#statusDetail').html('');
    });
  }
  
  function statuSwitch(){
        var newState;
        if(serviceIsActive == 'Activo'){
        newState = 'Suspendido';
        }else{
            newState = 'Activo';
        }

        var ref = firebase.database().ref('activeServices').child(currentKey);
        
        ref.update({
            status: newState
        }).then(function(error){
            console.log(error);
            if(error){
                document.getElementById('imgSwitchStat').src += '../../../img/error_icon.png';
            }else{
                serviceIsActive = newState;
                $('#stat').html('<b>Estado: </b> '+serviceIsActive);
                document.getElementById('imgSwitchStat').src += '../../../img/ok_icon.png';
            }
            
        });

  }

</script>