<!-- Prueba mis_servicios.html -->

<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
    <div class="container">
        <h2>NitroNet</h2>
    </div>
</section>
<!-- Page Top section end -->


<!-- About Intro section -->
<section class="about-intro-section spad">
    <div class="container">
        <div class="section-title">
            <h2>Servicios</h2>
    <h3 style="color:black";>En NitroNet contamos con los siguientes paquetes residenciales para nuestros clientes</h3>
    <br>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-3">
                    <div class="pricing-card border shadow-lg">
                        <div class="pc-header">
                            <h1>3 MB</h1>
                        </div>
                        <div class="pc-details" style="height: 20rem;">
                            <div class="pc-icon">
                                <h3 style="color:white";><b>$15.00</b></h3>
                            </div>
                            <ul>
                                <li> 3 MB Ilimitados de Navegacion</li>
                                <li> Contrato Flexible</li>
                                <li> Conexion Permanente</li>
                                <li> Descargas Ilimitadas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="pricing-card border shadow-lg">
                    <div class="pc-header">
                            <h1>5 MB</h1>
                    </div>
                    <div class="pc-details" style="height: 20rem;">
                        <div class="pc-icon">
                            <h3 style="color:white";><b>$25.00</b></h3>
                        </div>
                        <ul>
                            <li> 5 MB Ilimitados de Navegacion</li>
                            <li> Contrato Flexible</li>
                            <li> Descargas Ilimitadas</li>
                            <li> Soporte</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="pricing-card border shadow-lg">
                <div class="pc-header">
                        <h1>10 MB</h1>
                </div>
                <div class="pc-details" style="height: 20rem;">
                    <div class="pc-icon">
                        <h3 style="color:white";><b>$35.00</b></h3>
                    </div>
                    <ul>
                        <li> 10 MB Ilimitados de Navegacion</li>
                        <li> Descargas Ilimitadas</li>
                        <li> Contrato Flexible</li>
                        <li> Soporte</li>
                        <li> Velocidad hasta 4 veces mas rapida</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pricing-card border shadow-lg">
            <div class="pc-header" >
                    <h1>25 MB</h1>
            </div>
            <div class="pc-details" style="height: 20rem;">
                <div class="pc-icon">
                    <h3 style="color:white";><b>$50.00</b></h3>
                </div>
                <ul>
                    <li> 25 MB Ilimitados de Navegacion</li>
                    <li> Descargas Ilimitadas</li>
                    <li> Contrato Flexible</li>
                    <li> Soporte</li>
                    <li> Velocidad hasta 4 veces mas rapida</li>
                    <li> Por pagos puntuales gana puntos para canjearlos por premios</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 offset-md-3 mt-20">
        <div class="pricing-card border shadow-lg">
        <div class="pc-header" >
                <h1>50 MB</h1>
        </div>
        <div class="pc-details" style="height: 20rem;">
            <div class="pc-icon">
                <h3 style="color:white";><b>$85.00</b></h3>
            </div>
            <ul>
                    <li> 50 MB Ilimitados de Navegacion</li>
                    <li> Descargas Ilimitadas</li>
                    <li> Contrato Flexible</li>
                    <li> Soporte</li>
                    <li> Velocidad hasta 4 veces mas rapida</li>
                    <li> Por pagos puntuales gana puntos para canjearlos por premios</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="pricing-card border shadow-lg">
    <div class="pc-header" >
            <h1>100 MB</h1>
    </div>
    <div class="pc-details" style="height: 20rem;">
        <div class="pc-icon">
            <h3 style="color:white";><b>$135.00</b></h3>
        </div>
        <ul>
                <li> 100 MB Ilimitados de Navegacion</li>
                <li> Descargas Ilimitadas</li>
                <li> Contrato Flexible</li>
                <li> Soporte</li>
                <li> Velocidad hasta 5 veces mas rapida</li>
                <li> Por pagos puntuales gana puntos para canjearlos por premios</li>
        </ul>
    </div>
</div>
</div>
              </div>
        </div>
    </div>
</section>
<!-- About Intro section end -->

<script src="js/main.js"></script>