

	<section class="page-top-section set-bg" data-setbg="img/page-top-bg/1.jpg">
		<div class="container">
			<h2>NitroNet</h2>
		</div>
	</section>
	<!-- Page Top section end -->


	<!-- About Intro section -->
	<section class="about-intro-section spad">
		<div class="container">
			<div class="section-title">
				<h2>Quienes somos</h2>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="about-intro-pic">
						<img src="img/about.png" alt="">
					</div>
				</div>
				<div class="col-lg-6 about-intro-text">
					<p>Ofrece soluciones de última generación a nivel de networking, seguridad y conectividad, como también de excelentes niveles de consultoría contando con personal altamente capacitado. Asesoramiento y Soluciones para: Proveedores de Internet, Gobiernos, Instituciones, Empresas, Universidades Y Colegios.
					 <br>
                     <br>
                    <b>*</b> Somos Una Empresa Experta en la rama de REDES, Ya que somos los primeros en el pais de poseer certificación Q&S.
                     <br>
                     <br>
                    <b>*</b> Brindamos soluciones de la mas alta tecnologia en Redes como, Enlaces de hasta 200 KM, Redes MESH para Universidades conoce mas sobre nosotros.  
                      <br>
                      <br>
                    <b>*</b> Ofrecemos soluciones de última generación a nivel de networking, seguridad y conectividad.
                      <br>
                      <br>
                    <b>*</b>Te Ofrecemos Diferentes Tecnología como la de nuestro Cache que consiste en enviar el contenido de cualquier página a una Velocidad de hasta 40 Mega.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- About Intro section end -->

	<script src="js/main.js"></script>