<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <style>
    .btn-xs {
      padding: .25rem .4rem;
      font-size: .875rem;
      line-height: .5;
      border-radius: .2rem;
    }
    </style>

  <title>NitroNet - Mi Perfil</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <!--nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../../img/NitroNet.png" width="35%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav-->

  <!-- Conteinido de la pagina -->
  <div class="w-100 p-2"></div>
  <div class="container">

    <div class="row">

      <!-- Columna Principal -->
      <div class="col-lg-8">
        <h1 class="mt-4" id="msjWelcome">¡Bienvenido!</h1>
        <hr>
        <h4 class="text-center">Mis Servicios</h4>
        <hr>
          <img src="../../../img/loading2.gif" id="loadingGif" width="40px" height="40px" hidden>
          <span id="statusInfo"></span>

        <!--Nueva Grid-->
        <div class="row">
            

          <div class="col-6">
              <div class="card my-4">
              <h5 class="card-header">Mensajes</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <p id="infoMensaje">Mensajes Nuevos: <b>Ninguno</b> <br>
                      Total de mensajes: 2</p>
                      <a href="messages.html" class="btn btn-primary col-6 offset-3">Ver Mensajes</a>
                  </div>
                </div>
              </div>
            </div> <!---Fin de la card--->
          </div> <!--fin de la columna1 de 6 espacios-->

          <div class="col-6">
              <div class="card my-4">
                  <h5 class="card-header">Mensajes</h5>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <p id="infoMensaje">Mensajes Nuevos: <b>Ninguno</b> <br>
                          Total de mensajes: 2</p>
                          <a href="messages.html" class="btn btn-primary col-6 offset-3">Ver Mensajes</a>
                      </div>
                    </div>
                  </div>
                </div> <!---Fin de la card--->
          </div>

        </div> <!---Find e la row de la nuevaGrid-->
        </div> <!---Fin Columna Principal de 8 espacios-->

      <!-- ----------------------- Panel lateral ------------------------------>
      <div class="col-md-4">

        <!-- Perfil Widget -->
        <div class="card my-4">
          <h5 class="card-header">Mi Perfil</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-4 offset-2">
                  <img src="../../../img/NitroNet.png">
                  
              </div>
            </div> <!----Fin Row1-->
            <div class="row">
              <div class="col-12 text-center">
                <h5 class="align-center"><b>Nombre Cliente</b></h5>
                <div class="btn-groups">
                  <button type="button" class="btn-secondary btn-xs" onclick="loggout()">Salir</button>
                </div>
              </div>
            </div> <!-- Fin de la Row2--->
            <div class="row">
              <div class="col-12">
                  <p id="userInfo">
                    <b>Dirección:</b> San Miguel, El Salvador <br>
                    <b>Telefono: </b> 7890-9010
                  </p>
              </div>
            </div><!--Fin de la Row3-->
          </div> <!----CardBody Mi Perfil-->
        </div><!--Fin de la primera card(MiPerfil)--->

        <!-- Mensjes -->
        <div class="card my-4">
          <h5 class="card-header">Mensajes</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p id="infoMensaje">Mensajes Nuevos: <b>Ninguno</b> <br>
                  Total de mensajes: 2</p>
                  <a href="messages.html" class="btn btn-primary col-6 offset-3">Ver Mensajes</a>
              </div>
            </div>
          </div>
        </div> <!--Find e la card de mensajes-->

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Método de Pago</h5>
          <div class="card-body">
            <p id="infoPago"><b>Sin Configurar</b></p>
            <button class="btn btn-primary col-4 offset-4">Editar</button> <!--Abrir Modal Auqi-->
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; NitroNet 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../../../js/jquery-3.4.1.min.js"></script>
  <script src="../../../js/bootstrap.bundle.min.js"></script>



  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="../../../js/firebase-6.6.1.js"></script>
<script src="../../../js/firebaseui-3.5.2.js"></script>

<script>
  var session = null;
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAFfyQdO6HasELT3ywjoI1BxWqSqQMYXis",
    authDomain: "nitronet-21f41.firebaseapp.com",
    databaseURL: "https://nitronet-21f41.firebaseio.com",
    projectId: "nitronet-21f41",
    storageBucket: "nitronet-21f41.appspot.com",
    messagingSenderId: "353411586533",
    appId: "1:353411586533:web:b5cf3f32690a8ca2d2b70c"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  </script>

  <script>
    window.onload = getDataSession();

  async function getDataSession(){
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        console.log(user);
      } else {
        console.log("No hay nada");
      }
    });
  }

  function loadActiveServices(){
    document.getElementById('detailLoadGif').hidden = false;
    $('#statusDetail').html('Cargando...');
    var ref = firebase.database().ref('activeServices').child(key);
    
    ref.on('value', function(data) {
        //El rellenado o el manejo de datos, debe de hacerse aqui, ya que esto es cuando ya se optiene la informacion.
      data.foreach(function(row){
        var dataService = JSON.parse(JSON.stringify(row));
        var elements = '';
        elements = '<div class="col-6">'+
              '<div class="card my-4">'+
              '<h5 class="card-header">'+row.service+' '+row.connectType+'</h5>'+
              '<div class="card-body">'+
                '<div class="row">'+
                  '<div class="col-12">'+
                    '<p>Cuota: </b> '+ row.priceToPay+'</p>'+
                    '<p>Contratado: </b> '+ row.priceToPay+'</p>'+
                    '<p>Ultimo pago: </b> '+ row.priceToPay+'</p>'+
                      '<button type="button" href="messages.html" onclick="showServiceDetail()"'+
                      'class="btn btn-primary col-6 offset-3">Ver Mensajes</a>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div> <!---Fin de la card--->'+
          '</div> <!--Fin de la columna-->';





            elements += 
            '<h4><b>Detalles del Cliente</b></h4>'+
            '<p><b>Nombre del Cliente:</b> '+dataService.clientName+'</p>'+
            '<p><b>N° de DUI del Cliente:</b> '+dataService.clientDUI+'</p>'+
            '<p><b>Telefono:</b> '+dataService.clientPhone+'</p>'+
            '<p><b>Fecha de Nacimiento:</b> '+dataService.clientBirthday+'</p>'+
            '<p><b>Dirección del Cliente:</b> '+dataService.clientAddress+'</p>'+
            '<hr>'+
            '<h4><b>Detalles del Servicio</b></h4>'+
            '<p><b>Fecha de Contratación:</b> '+dataService.dateContrate+'</p>'+
            '<p><b>Servicio:</b> '+dataService.service+'</p>'+
            '<p><b>Conexión:</b> '+dataService.connectType+'</p>'+
            '<p><b>Dirección del Servicio:</b> '+dataService.serviceAddress+'</p>'+
            '<p><b>Cuota:</b> '+dataService.priceToPay+'</p>';
            serviceIsActive = dataService.status;

            $('#serviceStatus').html('<p id="stat"><b>Estado: </b>'+serviceIsActive+'</p>'+
            '<button onclick="statuSwitch()" class="btn btn-caution">Cambiar</button>'+
            '<img id="imgSwitchStat" width="15px">');
        
        
        }); //Fin del Foreach
        $('#modal-body').html(elements);
        document.getElementById('detailLoadGif').hidden = true;
        $('#statusDetail').html('');
      });//Fin de la obtencion de datos.

        
  }

</script>

</body>

</html>
